---
import getImageUrl from '@/utils/getImageUrl'
import type {CustomImageAsset} from '@/api'
const { title, location, images } = Astro.props
---

<a class="project">
  <h2>{title}</h2>
  {
    location ? (
      <div class="location">{location}</div>
    ) : ''
  }
  <div class="gallery">
    {
      images && images.map((image: CustomImageAsset) => (
        <figure>
          <img src={getImageUrl(image.asset._ref)} alt={image.alt || title} loading="lazy" />
          {
            image.alt ? (
              <figcaption>{image.alt}</figcaption>
            ) : ''
          }
        </figure>
      ))
    }
  </div>
</a>

<style>
.project {
  --gap: var(--sl-spacing-x-large);
  display: block;
  min-height: 85vh;
}
h2 {
  font-size: var(--sl-font-size-2x-large);
}
.location {
  margin-block-end: calc(var(--gap) / 2);
  font-size: var(--sl-font-size-x-large);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--sl-spacing-x-large);
}
img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}


@media (max-width: 1640px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1140px) {
  .project {
    --gap: var(--sl-spacing-large);
  }
  .gallery {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .project {
    --gap: var(--sl-spacing-medium);
  }
}
</style>